.profile {
  width: calc(100% - 19px * 2);
  max-width: 880px;
  margin: 0 auto 51px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    gap: 36px;
  }
}

@media screen and (max-width: 330px) {
  .profile {
    margin-bottom: 36px;
  }
}